

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

a {
color: white;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 45px;
}

.grid .large {
    grid-column: span 2;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    margin-bottom: 55px;
}

.intro {
    max-width: 600px;
}